.wrap{
  width: 1903px;
}

.inner{
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.header{
  position: relative;
  top: 0;
  left: 0;
}

.logo{
  float: left;
}

.gnb{
  float: right;
  padding: 36px 0 32px;
}

.gnb-depth1-item{
  float: left;
  margin-left: 75px;
}

.gnb-depth1-item:last-child{
  padding-right: 0;
}

.gnb-depth1-link{
  display: block;
  text-align: center;
}


.gnb-depth2-item{
  display: none;
  width: 180px;
  background: #f6f6e8;
}

.gnb-depth2-link {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
}

.container{

}

.visual{
  position: relative;
}

.visual-img{
  position: absolute;
  width: 1064px;
  height: 420px;
  margin-top: 90px;
  background: url(../images/visual0.jpg) no-repeat 0 -110px;
  background-size: 1060px 706px;

}

.visual-bg{
  position: absolute;
  top: 195px;
  left: 250px;
}

/*
.visual>img{
  position: absolute;
  top: -110px;
  width: 1060px;
  height:  706px;
}
*/

.visual-text1{
  position: absolute;
  width: 411px;
  left: 322px;
  top: 245px;
}

.visual-text2{
  position: absolute;
  width: 411px;
  left: 250px;
  top: 320px;
}

.campaign{
  /*position: absolute;*/
}












.clearfix:after{
  content: "";
  display: block;
  clear: both;
}