.wrap{
  width: 1903px;
}

.inner{
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.header{
  position: relative;
  top: 0;
  left: 0;
}

.logo{
  float: left;
}

.gnb{
  float: right;
  padding: 36px 0 32px;
}

.gnb-depth1-item{
  float: left;
  margin-left: 75px;
}

.gnb-depth1-item:last-child{
  padding-right: 0;
}

.gnb-depth1-link{
  display: block;
  text-align: center;
}


.gnb-depth2-item{
  display: none;
  width: 180px;
  background: #f6f6e8;
}

.gnb-depth2-link {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
}