.wrap{
  width: 1903px;
}

.inner{
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.header{
  position: relative;
  top: 0;
  left: 0;
  height: 90px;
}

.logo{
  float: left;
}

.gnb{
  float: right;
  padding: 36px 0 32px;
}

.gnb-depth1-item{
  float: left;
  margin-left: 75px;
}

.gnb-depth1-item:last-child{
  padding-right: 0;
}

.gnb-depth1-link{
  display: block;
  text-align: center;
}


.gnb-depth2-item{
  display: none;
  width: 180px;
  background: #f6f6e8;
}

.gnb-depth2-link {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
}

.container{

}

.visual{
  position: relative;
  height: 420px;
}

.visual-img{
  position: absolute;
  width: 1064px;
  height: 420px;
  background: url(../images/visual0.jpg) no-repeat 0 -110px;
  background-size: 1060px 706px;

}

.visual-bg{
  position: absolute;
  top: 105px;
  left: 250px;
}

/*
.visual>img{
  position: absolute;
  top: -110px;
  width: 1060px;
  height:  706px;
}
*/

.visual-text1{
  position: absolute;
  width: 411px;
  left: 322px;
  top: 155px;
}

.visual-text2{
  position: absolute;
  width: 411px;
  left: 250px;
  top: 230px;
}

.campaign{
  position: relative;
  height: 630px;
}


.top-title{
  position: relative;
  height: 40px;
  top: 20px;

}

.top-title-center{
  position: absolute;
  width: 106px;
  height: 18px;
  background: url(../images/mBlock0_tit1.gif) no-repeat;
  left: 45%;
  margin-top: 15px;
}

.top-title-left{
  width: 22px;
  height: 40px;
  background: url(../images/mBanL_bt.png) no-repeat;
  float: left;
}

.top-title-right{
  width: 22px;
  height: 40px;
  background: url(../images/mBanR_bt.png) no-repeat;
  float: right;
}

.review{
  position: absolute;
  width: 238px;
  height: 365px;
  padding: 35px 36px;
  background: #faf05e;
  overflow: hidden;
  top: 78px;
}

.review-image{
}

.review-image1{
  position: absolute;
  top: 62px;
  left: 70px;
}

.review-image2{
  position: absolute;
  top: 55px;
  left: 0;
}

.review-text-1{
  display: block;
  margin: 22px 40px 0;
  width: 283px;
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
}

.review-text-2{
  display: block;
  margin: 12px 40px 0;
  font-size: 13px;
  color: #666;
  line-height: 18px;
  box-sizing: border-box;
}

.happy-move{
  position: absolute;

  top: 0;
  left:150px;

}


.clearfix:after{
  content: "";
  display: block;
  clear: both;
}