.wrap{
  width: 980px;
  margin: 0 auto;
}

.header{
  height: 200px;
  background-color: orange;
}

.container:after{
  content: '';
  display: block;
  clear: both;
}

.top{
  margin-top: 10px;
  float: left;
}

.contents1{
  float: left;
  width: 485px;
  height: 190px;
  background-color: red;
  margin-right: 10px;
}

.contents2{
  float: left;
  width: 485px;
  height: 190px;
  background-color: orangered;
}

.middle{
  float: left;
  margin-top: 10px;
}

.left{
  float: left;
  width: 300px;
  margin-right: 10px;
}

.contents3{
  height: 190px;
  background-color: yellow;
  margin-bottom: 10px;
}

.contents4{
  height: 190px;
  background-color: greenyellow;
}

.contents5{
  float: left;
  width: 360px;
  height: 390px;
  margin-right: 10px;
  background-color: green;
}

.right{
  float: left;
  width: 300px;
}

.contents6{
  height: 190px;
  background-color: olivedrab;
  margin-bottom: 10px;
}

.contents7{
  height: 190px;
  background-color: brown;
}

.bottom{
  float: left;
  margin-top: 10px;
}

.contents8{
  float: left;
  width: 670px;
  height: 190px;
  margin-right: 10px;
  background-color: skyblue;
}

.contents9{
  float: left;
  width: 300px;
  height: 190px;
  background-color: blue;
}

.footer{
  height: 190px;
  margin-top: 10px;
  background-color: orange;
}