
.wrap {
  width: 980px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: burlywood;
}

.container:after{
  content: '';
  display: block;
  clear: both;
}

.left {
  float: left;
  width: 400px;
}

.first_tile {
  height: 250px;
  background-color: orangered;
}

.and_another {
  height: 450px;
  background-color: skyblue;
}

.right {
  float: left;
  width: 580px;
}

.another_title {
  height: 600px;
  background-color: orange;
}

.the_forth_one {
  width: 400px;
  height: 100px;
  background-color: blue;
  float: left;
  
}

.the_last {
  width: 180px;
  height: 100px;
  background-color: greenyellow;
  float: left;
}

.footer {
  height: 100px;
  background-color: burlywood;
}